body{
    margin:0;
    padding:0;
}

.background{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;   
    width:100vw;
    height:100vh;    
    box-sizing: border-box;
}

.app{
    width:350px;
    height:500px;
    border:1px solid black;
    border-radius: 1rem;
    
}